
.main-left{
    position: fixed;
    height: 100%;
    width: 16em;
    float: left;
    background: #363636;
    color: #ffffff;
}
.main-right{
    width: calc(100% - 16em);
    float: right;
    .main-header{
        position: relative;
    z-index: 11;
    height: 3em;
    border-bottom: 1px solid #d3d3d3;
    .left{

    }
    .right{
        position: relative;
        display: inline-block;
        float: right;
    }
    }
}


@import "common/common.less";